# SUPABASE
NEXT_PUBLIC_SUPABASE_URL=https://your-project-url.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

# AUTH (Note: Utilise Supabase Auth par défaut)
# Pas besoin de NEXTAUTH_SECRET ou NEXTAUTH_URL

#url de the-crawl
THE_CRAWL_URL=https://the-crawl.vercel.app/